<div class="row">
    <div class="col-lg-4">
        <app-toolbar (studentEvent)="addStudent($event)"></app-toolbar>
    </div>
<div class="col-lg-8">

<table class="table table-dark table-hover ">
    <thead>
    <tr>
        <th>NOMBRE</th>
        <th>APELLIDO</th>
        <th>DNI</th>
        <th>TELEFONO</th>
        <th>LEGAJO</th>
        <th>PROMEDIO</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let student of studentsList">
        <td>{{student.nombre}}</td>
        <td>{{student.apellido}}</td>
        <td>{{student.dni}}</td>
        <td>{{student.telefono}}</td>
        <td>{{student.legajo}}</td>
        <td [ngClass]="{
            'text-success':student.sumaDeNotas >= 21,
            'text-primary':student.sumaDeNotas >= 12,
            'text-danger':student.sumaDeNotas < 12
            
        }">{{student.sumaDeNotas / 3 | number: '1.0-2'}}</td>
    </tr>
</tbody>
  </table>
</div>