<table class="table table-dark table-hover ">
    <thead>
    <tr>
        <th>NOMBRE</th>
        <th>APELLIDO</th>
        <th>DNI</th>
        <th>TELEFONO</th>
        <th>LEGAJO</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Jeronimo</td>
        <td>Lago</td>
        <td>44459903</td>
        <td>2287992212</td>
        <td>1046</td>
    </tr>
    <tr>
        <td>Juan</td>
        <td>Perez</td>
        <td>44441341</td>
        <td>228799912</td>
        <td>1047</td>
    </tr>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>44494903</td>
        <td>2287999912</td>
        <td>1048</td>
    </tr>
    <tr>
        <td>Francisco</td>
        <td>Roman</td>
        <td>44459093</td>
        <td>22879921111</td>
        <td>1049</td>
    </tr>
    <tr>
        <td>Demian</td>
        <td>Carloni</td>
        <td>44324903</td>
        <td>228799892</td>
        <td>1046</td>
    </tr>
    <tr>
        <td>Aida</td>
        <td>Oliva</td>
        <td>444123903</td>
        <td>224492212</td>
        <td>1032</td>
    </tr>
    <tr>
        <td>Sergio</td>
        <td>Dalma</td>
        <td>44459903</td>
        <td>2281046212</td>
        <td>1052</td>
    </tr>
    <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td>44459976</td>
        <td>22879912</td>
        <td>1051</td>
    </tr>
    <tr>
        <td>Sofia</td>
        <td>Perez</td>
        <td>44451203</td>
        <td>2287997712</td>
        <td>1050</td>
    </tr>
</tbody>
  </table>
