<form>
        <h4 class="text-center">Agregar Alumno</h4>
      <div class="form-group">
        <label for="nombre" class="form-label mt-4">Nombre</label>
        <input type="text" class="form-control" id="nombre"  placeholder="Ingresa un nombre">
      </div>
      <div class="form-group">
        <label for="apellido" class="form-label mt-4">Apellido</label>
        <input type="text" class="form-control" id="apellido"  placeholder="Ingresa un apellido">
      </div>
      <div class="form-group">
        <label for="dni" class="form-label mt-4">DNI</label>
        <input type="text" class="form-control" id="dni"  placeholder="Ingresa un DNI">
      </div>
      <div class="form-group">
        <label for="telefono" class="form-label mt-4">Apellido</label>
        <input type="tel" class="form-control" id="telefono"  placeholder="Ingresa un telefono">
      </div>
      <div class="form-group">
        <label for="legajo" class="form-label mt-4">Legajo</label>
        <input type="text" class="form-control" id="legajo"  placeholder="Ingresa un Legajo">
      </div>
      <button type="submit" style="width: 100%;" class="btn btn-primary btn-block mt-3">Agregar Alumno</button>

  </form>